@(form: Form[Item])(implicit messages: Messages)

@main("Add Item") {
    <div class="panel panel-default">
        <div class="panel-heading"><H1>Add Item</H1></div>

    </div>

    <div class="panel-body">
        @helper.form(routes.Application.createItem()){
            @helper.inputText(form("name"), '_label -> "Name", '_showConstraints -> false)
            @helper.inputText(form("description"), '_label -> "description", '_showConstraints -> false)
            @helper.inputText(form("maker"), '_label -> "maker", '_showConstraints -> false)
            @helper.inputText(form("warranty"), '_label -> "warranty", '_showConstraints -> false)
            @helper.inputText(form("price"), '_label -> "price", '_showConstraints -> false)
            @helper.inputText(form("discount"), '_label -> "discount", '_showConstraints -> false)
            @helper.inputText(form("seller"), '_label -> "seller", '_showConstraints -> false)
            @helper.inputText(form("picture"), '_label -> "picture", '_showConstraints -> false)
            <button type="submit" class="btn btn-block btn-primary"> Create Item </button>
        }

        <br>
        @helper.form(routes.Application.listItems()){
            <button type="submit" class="btn btn-block btn-danger"> Cancel </button>
        }
    </div>
}